<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greener Thumb</title>
    <style rel="stylesheet" href="../public/styles/styles.css"></style>
</head>
<body>
    this is the header